* {
    margin: 0;
    padding: 0;
  }
  
  html,
  body {
    overflow: hidden;
  }
  
  body {
    position: relative;
    background: #000;
  }
  
  .name{
    color: white;
    font-size: 40px;
    font-weight: bold;
    display: block;
    z-index: 999;
  }